
.w {
    width: 1000px;
    margin: 0 auto;
    /* background-csolor: aqua; */
    /* background-color: yellow; */
}

.zhaohui {
  
    height: 522px;
    border: 1.2px solid #ccc;
    margin-top: 100px;
    border-top: 3px solid red; 
}

.zhaohui h3 {
    height: 42px;
    border-bottom: 1px solid #ccc;
    background-color: #ececec;
    line-height: 42px;
    padding: 0 10px;
    font-size: 18px;
    font-weight: 400;
}


.login {
    float: right;
    font-size: 14px;
}
.login a {
    color: #c81523;
}

.deng {
    width: 600px;
    margin: 50px auto 0;
    /* background-color: aquamarine; */

}
.deng ul {
    margin-top: 100px;
}
.deng ul li {
    margin-bottom: 20px;
}

.deng ul li label {
    display: inline-block;
    width: 88px;
    text-align: right;
    font-size: 14x;
}

.deng ul li .inp{
    width: 242px;
    height: 37px;
    border: 1px solid #ccc;
}

.btn {
    margin: 20px 0  0 100px;
    width: 200px;
    height: 34px;
    background-color: skyblue;
    color: #fff;
    font-size: 14px;
}
