.w {
    width: 1200px;
    margin: 0 auto;
}

header {
    height: 80px;
    border-bottom: 2px solid #c81523;
}

header .logo {
    padding-top: 18px;
}

.registerarea {
    height: 522px;
    border: 1.2px solid #ccc;
    margin-top: 2px;
}

.registerarea h3 {
    height: 42px;
    border-bottom: 1px solid #ccc;
    background-color: #ececec;
    line-height: 42px;
    padding: 0 10px;
    font-size: 18px;
    font-weight: 400;
}

.login {
    float: right;
    font-size: 14px;
}
.login a {
    color: #c81523;
}

.reg-form {
    width: 600px;
    margin: 50px auto 0;
    /* background-color: aquamarine; */

}
.reg-form ul li {
    margin-bottom: 20px;
}

.reg-form ul li label {
    display: inline-block;
    width: 88px;
    text-align: right;
}

.reg-form ul li .inp{
    width: 242px;
    height: 37px;
    border: 1px solid #ccc;
}

.error {
    color: #c81523;
}

.error_icon {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background: url(../image/error.png) no-repeat;
    margin-top: -2px;
}

.success{
    color: green;
}

.success_icon {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background: url(../image/success.png) no-repeat;
    margin-top: -2px;
}

.safe {
    padding-left: 167px;
}

.safe em {
    padding: 0 12px;
    color: #fff;
}

.ruo{
    background-color: #de1111;
}

.zhong {
    background-color: #40b83f;
}

.qiang {
    background-color: #f79100;
}

.agree {
    padding-left: 120px;
}

.agree input {
    vertical-align: middle;
}

.agree a {
    color: #1ba1e6;
}

.btn {
    margin: 20px 0  0 100px;
    width: 200px;
    height: 34px;
    background-color: #c81523;
    color: #fff;
    font-size: 14px;
}

.mod_copyright {
    text-align: center;
    padding-top: 20px;
}
.links {
    margin-bottom: 15px;
}
.links a {
    margin: 0 3px;
}
.copyright {
    line-height: 20px;
}